*{
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background:#f1f5f9;
    color:#111827;
}

.container{
    display: flex;
}

.sidebar{
    width:250px;
    background:#1e293b;
    color:white;
    height:100vh;
    top: 0;
    left:0;
    padding:30px 20px;
    position:fixed;
    transition: 0.3s ease;
}

.profile{
    width:90px;
    height:90px;
    border-radius:50%;
    display:block;
    margin:0 auto 15px;
    border:3px solid ;
}

.sidebar h2{
    text-align: center;
    margin-bottom: 40px;
    /* font-size: 26px; */
}

.sidebar nav{
    display: flex;
    flex-direction: column;
}

.sidebar nav a{
    color:#cbd5f5;
    text-decoration: none;
    padding:12px 15px;
    margin: 6px 0;
    border-radius: 10px;
    transition:.3s;
}

.sidebar nav a:hover{
    background-color: #334155;
    color:white;
    transform:translateX(5px);
}

main{
    line-height:1.4;
    margin-left: 250px;
    padding: 50px;
    width: calc(100% - 250px);
    transition: 0.3s ease;
}

section{ 
    margin-bottom: 80px;
    scroll-margin-top: 40px;
 
}



main h1{
    font-size:clamp(28px,4vw,42px);
    margin-bottom:10px;
}

main h2{
    font-size:clamp(20px,2.5vw,28px);
    color:#1e293b;
}

main h4{
    margin-top:20px;
    font-size: clamp(16px,1.5vw,22px);
    color:#1e293b;
}

main p{
    font-size:clamp(14px,1.2vw,18px);
}

#menuButton{ /* for mobile only */
    /* display:none; */
    position:fixed;
    top:15px;
    left:200px;
    background:#f1f5f9;
    color:#1e293b;
    border:none;
    padding:10px;
    border-radius:8px;
    cursor:pointer;
}


/* Mobile */
@media(max-width:768px){

    #sidebar{
        position:fixed;
        left:0;
        top:0;
        height:100%;
        transform:translateX(-100%);
        transition:2s;
    }

    #sidebar.active{
        transform:translateX(0);
    }

    main{
        margin-left:0;
        width:100%;
    }

    
}